html {
    height: 100%;
    width: 100%;
}

body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
}

#calendar {
    width: 100%;
    height: 100%;
}




.menu {
    background-color: #1D1F20;
    background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.menu a {
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px;
    background-size: 32px;
}

.menu-header-title {
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    font-size: 1.5em;
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #d8d9d9;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    cursor: pointer;
    color: #b4b6b9;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.btn-hamburger {
    border: none;
    position: absolute;
    top: 12px;
    left: 12px;
    outline: none;
    background: url('assets/menu.png') no-repeat center;
    width: 50px;
    height: 50px;
}


.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    /*min-height: 100vh;*/
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.panel {
    height: 85%;
    background-color: white;
}

.panel-header {
    background-color: #1D1F20;
    color: white;
    padding: 1em 1em 2em 1em;
}

.title {
    display: inline;
    width: 100%;
    font-size: 1.5em;
    color: #78C2AD;
}

.shown {
    display: block;
}
.hidden {
    display: none;
}
.fullscreen {
    height: 100%;
    width: 100%;
}







#external-events {
    //float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    #calendar {
        width: 100%;
    }
    
    .fc-header-toolbar>.fc-left {
        display: none;
    }
    .fc-footer-toolbar>.fc-right {
        display: none;
    }
    .fc-footer-toolbar>.fc-left {
        float: right !important;
    }
    
}
